.container {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  height: 1000.67px;
  justify-content: center;
  width: 100%;
}

.content {
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: row;
  height: 759.67px;
  justify-content: space-between;
  margin-top: 100px;
  width: 1323px;
}

.formsection {
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: column;
  height: 759px;
  justify-content: flex-start;
  width: 846px;
}

.formsection h2 {
  color: rgba(43, 43, 43, 1);
  display: block;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 45px;
  line-height: 39.55px;
}

.form {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  padding: 23px 0 10px 30px;
}

.inputGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.label h4 {
  color: rgba(118, 118, 118, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 22.25px;
  margin-bottom: 3px;
}

form input {
  border: none;
  background-color: rgba(240, 240, 246, 1);
  border-radius: 5px;
  height: 50px;
  width: 773.38px;
}

.textarea {
  background-color: rgba(240, 240, 246, 1);
  border: none;
  border-radius: 5px;
  height: 210.42px;
  resize: vertical;
  width: 773.38px;
}

.button {
  align-self: start;
  background-color: rgba(255, 180, 0, 1);
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
  line-height: 16.94px;
  padding: 17px 16px 17px 16px;
  width: 151px;
}

.button:hover {
  background-color: rgba(255, 189, 0, 1);
}

.contactinfo {
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: column;
  height: 759.67px;
  justify-content: space-between;
  padding: 20px;
  width: 373px;
}

.infotitle {
  color: rgba(43, 43, 43, 1);
  font-size: 32px;
  font-weight: 700;
  line-height: 39.55px;
  margin-bottom: 30px;
  margin-left: -20px;
  margin-top: -20px;
}

.location,
.mail,
.mobile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 372.7px;
}

.icon {
  color: black;
  font-size: 24px;
  left: -32px;
  position: relative;
}

.location {
  background-color: rgba(255, 255, 255, 1);
  display: flex; 
  flex-direction: column; 
  height: 211.11px;
  margin-left: -20px;
  justify-content: center; 
  padding: 20px;
}

.infocontent {
  align-items: center; 
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
}
.mail {
  background-color: rgba(255, 255, 255, 1);
  height: 211.11px;
  margin-left: -20px;
}

.mobile {
  background-color: rgba(255, 255, 255, 1);
  height: 211.11px;
  margin-left: -20px;
}

.htext {
  color: rgba(118, 118, 118, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 22.25px;
}

.text {
  color: rgba(118, 118, 118, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 0px;
}