.hero {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  height: 630px;
  justify-content: flex-start;
  width: 100%;
}

.coder_img {
  height: 550px;
  width: 800px;
}

.ellipse12img {
  height: 21.58px;
  left: 832.39px;
  position: absolute;
  top: 202.15px;
  width: 22.83px;
}

.ellipse12img2 {
  height: 21.58px;
  left: 125.89px;
  position: absolute;
  top: 721.29px;
  width: 22.83px;
}

.ellipse13img {
  border: 2px 0px 0px 0px;
  gap: 0px;
  height: 21.58px;
  left: 57.39px;
  opacity: 0px;
  position: absolute;
  top: 192.47px;
  width: 22.83px;
}

.ellipse13img2 {
  border: 2px solid rgb(254, 181, 0);
  border-radius: 50%;
  height: 21.58px;
  left: 882.42px;
  position: absolute;
  top: 646.58px;
  width: 22.83px;
}

.herocontent {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  height: 405.17px;
  justify-content: center;
  margin-left: 98.27px;
  width: 721.69px;
}

.heroheading {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.33px;
  margin-bottom: 40px;
}

.herotext {
  color: rgba(118, 118, 118, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 118.72px;
  line-height: 24px;
  margin-top: 20px;
  text-transform: capitalize;
  width: 600.84px;
}

.hireMeButton {
  align-items: center;
  background-color: rgba(255, 180, 0, 1);
  border: none;
  border-radius: 5px;
  color: rgba(43, 43, 43, 1);
  cursor: pointer;
  display: inline-flex;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
  height: 51px;
  line-height: 19.36px;
  margin-top: 20px;
  padding: 16px 32px;
  width: 154px;
}

.hireMeButton:hover {
  background-color: rgba(255, 160, 0, 1);
}

.imagecontainer {
  background: rgba(255, 255, 255, 1);
  display: inline-block;
  height: 550px;
  margin-top: 40px;
  width: 800px;
}

.polygon1img {
  height: 21.58px;
  left: 1395.64px;
  position: absolute;
  top: 694.04px;
  width: 22.83px;
}

.rectangle51img {
  height: 21.58px;
  left: 1362.19px;
  position: absolute;
  top: 230.97px;
  width: 22.83px;
}

.rectangle52img {
  height: 21.58px;
  left: 543.78px;
  position: absolute;
  top: 601.23px;
  width: 22.83px;
}

.frontendText {
  color: rgb(254, 181, 0);
  display: inline-block;
}
@media (min-width: 1600px) {
  .hero {
    width: 100%;
    justify-content: space-around;
  }
  .rectangle52img{
    left: 600px;
  }

}