.container {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.content {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  padding: 20px;
  max-width: 1345px;
  width: 100%;
}

.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.titletxt {
  color: rgba(43, 43, 43, 1);
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 39.55px;
  margin-bottom: 22px;
}

.paratxt {
  color: rgba(118, 118, 118, 1);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  text-align: center;
  width: 438px;
}

.Skillscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: center;
  margin-top: 20px;
  width: 103%;
}

.Skillsbox {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin-bottom: 35px;
  width: 103%;
}

.addSkillButton {
  border: none;
  background-color: rgba(255, 180, 0, 1);
  border-radius: 5px;
  cursor: pointer;
  height: 51px;
  padding: 17px 16px;
  width: 151px;
}

.addSkillButton:hover {
  background-color: rgba(255, 150, 0, 1);
}

.btntxt {
  color: black;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 16.94px;
}
