.skillContainer {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 10px;
  padding: 35px 42.49px 36.55px 52px;
  width: 415px; 
}

.skillInfoContainer {
  display: flex;
  flex-direction: column;
}

.skillTitle {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.skillItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skillName {
  color: rgba(118, 118, 118, 1);
  font-size: 16px;
  font-weight: 500;
}

.skillProficiency {
  color: rgba(118, 118, 118, 1);
  font-size: 16px;
  font-weight: 500;
}

.skillBar {
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 30px;
  border: 0.5px solid rgba(255, 180, 0, 1);
  display: flex;
  height: 4.04px;
  margin-top: 5px;
  width: 100%;
}

.skillProgress {
  border-radius: 30px;
  background-color: rgba(255, 180, 0, 1);
  height: 2.02px;
}
.skillbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.skillhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -12px;
}
