.projectarea {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.projectcontent {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1321px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 104%;
}

.projectheading {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 654px;
  padding: 20px;
  width: 100%;
}

.projectheading h2 {
  color: rgba(43, 43, 43, 1);
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.55px;
  margin-bottom: 15px;
}

.projectheading p {
  color: rgba(118, 118, 118, 1);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}
.projectCard {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  margin-top: 37px;
  width: 100%;
}
