.projectarea {
  background-color: rgba(240, 240, 246, 1);

  width: 100%; /* Set to 100% for responsiveness */
  height: auto; /* Set to auto for dynamic height based on content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.projectcontent {
  background-color: rgba(240, 240, 246, 1);
  height: auto;
  width: 100%; /* Adjust width for responsiveness */
  max-width: 1321px; /* Optional: Set a maximum width */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; /* Add padding inside the content area */
  box-sizing: border-box; /* Ensure padding and border are included in total width/height */
}

.projectheading {
  background-color: rgba(240, 240, 246, 1);
  width: 100%; /* Full width of projectcontent */
  max-width: 654px; /* Optional: Set a maximum width */
  padding: 20px; /* Add padding inside the heading area */
  box-sizing: border-box; /* Ensure padding is included in total width/height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Space below heading */
}

.projectheading h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700; /* Bold weight */
  font-size: 32px; /* Font size */
  line-height: 39.55px; /* Line height */
  color: rgba(43, 43, 43, 1); /* Text color */
  margin-bottom: 15px;
}

.projectheading p {
  font-family: "Inter", sans-serif; /* Font family */
  font-weight: 400; /* Font weight */
  font-size: 15px; /* Font size */
  line-height: 24px; /* Line height */
  text-align: center; /* Center-align text */
  color: rgba(118, 118, 118, 1); /* Text color */
  margin: 0; /* Remove default margin */
}

.projectContainer {
  width: 104%; /* Full width of projectcontent */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  /* Add padding or margin if needed to adjust spacing */
}
.projectCard {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
}
