.container {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}

.heading {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 654px;
  padding: 20px;
  width: 100%;
}

.heading h2 {
  color: rgba(43, 43, 43, 1);
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.55px;
  margin-bottom: 15px;
}

.heading p {
  color: rgba(118, 118, 118, 1);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  width: 496px;
}
.recommendContainer {
  padding: 20px 65px;
  width: 80%;
}

.recommendCard {
  padding: 10px;
}
@media(min-width:2400px){
  .recommendContainer {
    width: 50%;
  }
}