.content {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 33px 57px 0 18px;
  width: 340px;
}
.review {
  display: flex;
  flex-direction: column;
}

.rimg {
  height: 17.6px;
  margin-bottom: 15px;
  width: 145.62px;
}
.review h3 {
  color: rgba(43, 43, 43, 1);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.25px;
  margin-bottom: 17px;
}

.review p {
  color: rgba(118, 118, 118, 1);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.infocontainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.propimg {
  border-radius: 50%;
  height: 81px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 89.61px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}


.profileName {
  color: rgba(43, 43, 43, 1);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.25px;
  margin-bottom: 0px;
}

.profileJob {
  color: rgba(118, 118, 118, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


