.container {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: column;
  height: 621px;
  justify-content: flex-start;
  width: 100%;
}
.logoimg {
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: row;
  height: 144px;
  justify-content: space-between;
  width: 970px;
}
.logo1,
.logo2,
.logo3,
.logo4 {
  height: 144px;
  width: 140px;
}
.logo1 {
  background: url("../../assets/logo1.png");
  background-size: cover;
}
.logo2 {
  background: url("../../assets/logo2.png");
  background-size: cover;
}
.logo3 {
  background: url("../../assets/logo3.png");
  background-size: cover;
}
.logo4 {
  background: url("../../assets/logo4.png");
  background-size: cover;
}
.footercontent {
  background-color: rgba(240, 240, 246, 1);
  height: 401px;
  padding: 45px 98px 0 98px;
  width: 100%;
}
.imgcontainer {
  background: url("../../assets/Logo.jpg");
  background-size: cover;
  height: 76px;

  margin-bottom: 50px;
  width: 158px;
}
.contentbox {
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: row;
  height: 230px;
  justify-content: space-between;
  width: 100%;
}
.content1 {
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-between;
  width: 177px;
}
.img1box {
  height: 61px;
  width: 177px;
}
.img2box {
  height: 64px;
  width: 149px;
}
.img3box {
  height: 65px;
  width: 146px;
}
.imgtext {
  color: rgba(118, 118, 118, 1);
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 18px;
}
.content2 {
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 202px;
  width: 780px;
}
.linksbox {
  background-color: rgba(240, 240, 246, 1);
  height: 202px;
  width: 141px;
}
.portfoliobox {
  background-color: rgba(240, 240, 246, 1);
  height: 192px;
  width: 174px;
}
.connectbox {
  background-color: rgba(240, 240, 246, 1);
  height: 157px;
  width: 125px;
}
.linksbox h2,
.portfoliobox h2,
.connectbox h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.linksbox li,
.portfoliobox li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}
.linksbox ul,
.portfoliobox ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.icons {
  display: flex;
  flex-direction: column; /* Arrange images in a column */
  height: 75%;
  justify-content: space-between; /* Distribute space between images */
}
.img1 {
  cursor: pointer; /* Change cursor to pointer on hover */
  height: auto; /* Maintain aspect ratio */
  width: 100px; /* Set a width for the images */
}
.copyright {
  align-items: center;
  background-color: rgba(240, 240, 246, 1);
  display: flex;
  height: 56px;
  justify-content: space-between;
  width: 283px;
}
.cricon {
  display: inline-block;
}
.crtext {
  color: rgba(118, 118, 118, 1);
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}
